<?xml?>
<packages>
  <package id="7zip.install"/>
  <package id="chocolatey" />
  <package id="chocolatey-core.extension" />
  <package id="chocolateygui" />
  <package id="git" />
  <package id="git.install" />
  <package id="glogg" />
  <package id="jdk8" />
  <package id="jhipster" />
  <package id="lammercontextmenu" />
  <package id="linkshellextension" />
  <package id="lockhunter" />
  <package id="maven" />
  <package id="microsoft-message-analyzer" />
  <package id="mongodb" />
  <package id="mongodb.install" />
  <package id="nimbletext" />
  <package id="nodejs" />
  <package id="nodejs.install" />
  <package id="notepadplusplus.install" />
  <package id="python2" />
  <package id="python3" />
  <package id="qownnotes" />
  <package id="sqlitebrowser" />
  <package id="Sudo" />
  <package id="totalcommander" />
  <package id="vcbuildtools" />
  <package id="vcredist2005" />
  <package id="vcredist2010" />
  <package id="visualstudiocode" />
  <package id="winmerge" />
  <package id="yarn" />
  <package id="yo" />
  <package id="zotero-standalone" />
</packages>