<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip.install" version="18.1" />
  <package id="7zip.portable" version="18.1" />
  <package id="atom" version="1.24.0" />
  <package id="autohotkey.install" version="1.1.27.07" />
  <package id="autohotkey.portable" version="1.1.27.07" />
  <package id="bginfo" version="4.25" />
  <package id="chocolatey" version="0.10.8" />
  <package id="chocolatey-core.extension" version="1.3.3" />
  <package id="chocolateygui" version="0.15.0" />
  <package id="cmder" version="1.3.5" />
  <package id="Devbox-Common" version="1.0.2" />
  <package id="Devbox-Common.extension" version="1.0.1" />
  <package id="DotNet4.5" version="4.5.20120822" />
  <package id="DotNet4.5.1" version="4.5.1.20140606" />
  <package id="DotNet4.5.2" version="4.5.2.20140902" />
  <package id="git" version="2.16.1.4" />
  <package id="git.install" version="2.16.1.4" />
  <package id="glogg" version="1.1.4" />
  <package id="jdk8" version="8.0.162" />
  <package id="jhipster" version="4.13.3" />
  <package id="lammercontextmenu" version="1.0.3.19" />
  <package id="linkshellextension" version="3.8.6.80" />
  <package id="lockhunter" version="3.2" />
  <package id="maven" version="3.5.2.1" />
  <package id="microsoft-message-analyzer" version="1.4.1.20161119" />
  <package id="mongodb" version="3.6.0" />
  <package id="mongodb.install" version="3.6.0" />
  <package id="nimbletext" version="2.8.1.38449" />
  <package id="nodejs" version="9.5.0" />
  <package id="nodejs.install" version="9.5.0" />
  <package id="notepadplusplus.install" version="7.5.4" />
  <package id="python2" version="2.7.14" />
  <package id="python3" version="3.6.4.20180116" />
  <package id="qownnotes" version="18.02.0" />
  <package id="sqlitebrowser" version="3.10.0" />
  <package id="Sudo" version="1.0.2" />
  <package id="totalcommander" version="9.12" />
  <package id="vcbuildtools" version="2015.4" />
  <package id="vcredist2005" version="8.1.0.20160118" />
  <package id="vcredist2010" version="10.0.40219.2" />
  <package id="visualstudiocode" version="1.20.0" />
  <package id="winmerge" version="2.14.0.20170224" />
  <package id="yarn" version="1.3.2" />
  <package id="yo" version="2.0.1" />
  <package id="zotero-standalone" version="5.0.35.1" />
</packages>